body {
  background-color: black;
  padding-top: 50px;
}
.container {
  background-color: white;
  width: 500px;
  margin: auto;
}
.boxheader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.left {
  display: flex;
  justify-content: flex-start;
}
.left div {
  padding: 0 5px;
}
.boxheader i {
  font-size: 2.5rem;
}
.boxcenter img {
  max-width: 500px;
}
.controls {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.controls i {
  font-size: 1.5rem;
}
.controls .left i {
  padding-right: 5px;
}

.description {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: larger;
}

.footerdescription {
  display: flex;
  justify-content: center;
  contain: content;
  padding: 10px;
}
